services:
  - type: web
    name: yolo-counter-app
    env: docker
    plan: free
    autoDeploy: true
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PYTHONUNBUFFERED
        value: 1
      - key: PORT
        value: 5001
